@model List<ShirtListingViewModel>

@{
    ViewData["Title"] = "My Shirts";
}

@if (!Model.Any())
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to our shop!</h1>
            <p class="lead">There are not available shirts, do you want to add a new one?<a asp-controller="Shirts" asp-action="Add" class="btn btn-primary" style="margin-left: 10px;">Add shirt</a></p>
        </div>
    </div>
}

<div class="row">
    <div class="text-center">
        <img src="https://imageio.forbes.com/specials-images/dam/imageserve/1138257321/960x0.jpg?fit=bounds&format=jpg&width=720" class="img-fluid rounded-pill" alt="...">
    </div>
</div>