html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.submit-button {
    margin-top: 15px;
}

.bgcolor-gray {
    background-color: #D3D3D3;
}

.bgcolor-blue {
    background-color: #234465;
}

.bgcolor-orange {
    background-color: #EE9825;
}

.color-blue {
    color: #234465;
}

.border-none {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.ph-center {
    text-align: center;
}

.carousel-item > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sizes {
    width: 52px;
}

.rounded-circle {
    width: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.custom-disabled {
    pointer-events: none;
}

.fav {
    display: none;
    cursor: pointer;
}

.unfav {
    display: inline-block;
    cursor: pointer;
}

.zoom {
    transition: transform .2s;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.1);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}