@model IEnumerable<ShirtServiceModel>

@{
    ViewData["Title"] = "Favorites";
    ViewBag.ShowHearts = true;
    ViewBag.IsFavorites = true;
}

<partial name="_ShirtsPartial" model="@Model" />

<h2 class="text-center" id="no-shirts-message" style="@(Model.Any() ? "display: none;" : string.Empty)">You dont have favorite shirts.</h2>