@model ShirtFormModel

<div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-3 col-md-6">
    <form method="post">
        <div>
            <h2 class="text-center mt-4">@ViewData["Title"]</h2>
        </div>
        <div class="mb-4 text-center needs-validation" novalidate>
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control ph-center" placeholder="Cool name" required>
            <span asp-validation-for="Name" class="small text-danger"></span>
        </div>
        <div class="mb-4 text-center needs-validation" novalidate>
            <label asp-for="ImageUrl" class="form-label">Image Url</label>
            <input asp-for="ImageUrl" class="form-control ph-center" placeholder="https://website.com/image.jpg" required>
            <span asp-validation-for="ImageUrl" class="small text-danger"></span>
        </div>
        <div class="mb-4 text-center needs-validation" novalidate>
            <label asp-for="Price" class="form-label">Price</label>
            <input asp-for="Price" class="form-control ph-center" placeholder="0.00" required>
            <span asp-validation-for="Price" class="small text-danger"></span>
        </div>
        <div class="mb-4 text-center">
            <label class="mb-2">Count of each size</label>
            <div class="input-group">
                @foreach (var size in Model.Sizes)
                {
                    <label asp-for="@size.SizeName" class="input-group-text sizes">@size.SizeName</label>
                    <input asp-for="@size.SizeName" class="form-control" placeholder="0">
                }
            </div>
            @if (!Model.IsValidSize)
            {
                <label asp-for="IsValidSize" class="small text-danger">
                    Numbers must be integers between 0 and 10.<br />
                    Please fill at least one field.
                </label>
            }
        </div>
        <div class="submit-button col-12 text-center">
            <button class="btn bgcolor-blue text-white" type="submit">Submit</button>
        </div>
    </form>
</div>