@model IEnumerable<ShirtServiceModel>

@{
    ViewData["Title"] = "My shirts";
    ViewBag.AllowShirtEdit = true;
    ViewBag.ShowChecks = true;
}


<div class="text-center">
    <a class="btn bgcolor-blue text-white mb-2" asp-area="" asp-controller="Shirts" asp-action="Add">Add New Shirt</a>
</div>

<partial name="_ShirtsPartial" model="@Model" />

@if (!Model.Any())
{
    <h2 class="text-center">You do not have shirts!</h2>
}
